.t1{
	width:80%;
}

#t1{
	background-color: red;
}

.myFooter{
	width: 90%;
}

.mySidebarTable{
	width: 120px;
}

#addContent{
	margin: 20px;
}

.test{
	text-align: center;
	width: 90%;
}

.teamEditTable{
	width: 50px;
}